nav {
    background-color: beige;

    ul {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        padding: 1rem;
        margin: 0;

        li {

            a {
                color: $dark-blue;
                text-decoration: none;
            }
        }
    }

}